/* portfolio-specific */

.inpagemenu {
  position: fixed;
  top: 30%;
  right:5px;
  z-index:9;
  text-align:center;
}

.in {
  font-size:max(16px, 2vw);
  text-decoration:none;
  color:rgba(0, 0, 0, 0.8);
}

.in:hover {
  color:darkblue;
}

.hovtxt {
  position: absolute;
  top:0px;
  left: 0%;
  padding-top:2vw;
  padding-bottom:2vw;
  padding-right:2vw;
  padding-left:2vw;
  margin-top:14vw;
  margin-bottom:14vw;
  margin-right:14vw;
  margin-left:14vw;
  font-weight:bold;
  font-size: 2vw;
  z-index:10;
  color: darkblue;
  background: rgba(255, 255, 255, 0.8);
}

/* everything */

*
{ box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Poppins', sans-serif;
 }

html { 
  font-size: 18px;
  width:100%;
  overflow-x: hidden;
}

body {
  font-size: max(12px, 1.2vw);
  background: white;
  color: black;
}

.contactme {
  text-align:center;
  position:relative;
  border:4px solid #008451;
  border-radius:100px;
  background: #7AA997;
  font-weight:bold;
  color: white;
  padding-left: max(5px, 0.5vw);
  padding-right: max(5px, 0.5vw);
  padding-top: max(6px, 0.4vw);
  padding-bottom: max(6px, 0.4vw);
  cursor: pointer;
  font-size: max(8px, 1vw);
}

.contactgrow{
  position:fixed;
  bottom:15px;
  right: 15px;
}

.contactgrow:hover {
  scale:120%;
}

.contactin {
  border:1px solid #008451;
  padding-top: max(10px, 1vw);
  padding-bottom: max(10px, 1vw);
  padding-right:max(7px, 0.1vw);
  padding-left:max(7px, 0.1vw);
  background: #008451;
  border-radius:100px;
}

.formbutton {
  background:#7066e0;
  color:white;
  text-decoration:none;
  border-radius: 0.25em;
  padding: .625em 1.1em;
}

.formbutton:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

.formbutton:active {
background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.formbutton:focus {
box-shadow: 0 0 0 3px rgba(112,102,224,.5);
}

img {cursor:pointer;}

.nav {
  position:fixed;
  z-index:100;
  width:100%;
  padding-top: 1vw;
  background: white;
}

header {
  display:block;
  float:left;
  position:relative;
  padding-left: 4vw;
  width:70%;
  }
  
.uniform {
  background:white;
  float:right;
  width:15%;
  position:relative;
  text-align:center;
  
}

.h1nav {
  color:black;
  padding-bottom:0.1rem;
}

.h4nav {
  color:grey;
  line-height:2px;
  font-weight:lighter;
  padding-bottom:1.2rem;
}

.hamburger {
  position:relative;
  z-index:100;
  padding-right: 1rem;
  border: none;
  background: none;
  cursor: pointer;
  line-height: 10px;
  letter-spacing:-6px;
  font-size:30px;
  padding-top:0.6vw;
  padding-bottom: 1.2rem;
}

.menuIcon {
  font-style: normal;
}

.closeIcon {
  display:none;
  padding-right: 5px;
  font-style: normal;
  margin-top: 25px;
  color:white;
}

.menu{
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:99;
  background:#3B9444;
  color:white;
  list-style: none;
  padding-top: 4rem;
  line-height: 3;
}

.menuItem {
  color:white;
  text-decoration:none;
  font-size: max(30px, 2vw);
  margin-top:20px;
}

a.menuItem {
  --fill-color: black;
  position: relative;
  display: inline;
  padding: 4px 0;
  margin: 1vw;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  transition: 0.5s linear;
}

.showMenu {
  transform: translateY(0%);
  padding-top: 120px;
}

/* Banner Section */

.container1 {
  display:block;
  float:left;
  width:100%;
  margin-top:6em;
  position:relative;
}

.banner {
  width:100%;
  float:left;
  height:auto;
  background-size:100%;
  background-repeat:no-repeat;
  display:block;
  position:relative;
  z-index:10;
}
.slideshow-container {
  width: 100%;
  margin: auto;
  float:left;
}

/* Hide the images by default */
.mySlides {
  float: left;
  display: none;
  width: 100%;
  padding-left:5%;
  padding-right:5%;
  padding-top: 1vw;
}

.slide1, .slide2, .slide3, .slide4, .slide5, .slide6 {
  padding-bottom: 13vw;
  padding-top:2vw;
}

.slide1 {
	background: #8C52FF;
	}

.slide2 {
	background: #008451;
}

.slide3 {
	background: #5271FF;
	}
	
.slide4 {
	background: #A6A488;
	}
	
.slide5 {
	background: #5271FF;
	}
	
.slide6 {
	background: #DB4C4C;
	}

.slidebuttons {
  float:left;
  display:block;
  padding-bottom: 0;
  width:100%;
  text-align:center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  width: auto;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  padding-top:20vw;
  padding-bottom:5vw;
}

/* Position the "next button" to the right */
.next {
  float:right;
  border-radius: 3px 0 0 3px;
  padding-right: 2%;
  right:0;
}

.prev {
  float:left;
  padding-left: 2%;
  left:0;
}

a.prev {
  padding-right:20%;
}

a.next {
  padding-left:20%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: rgba(255,255,255,0.3);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.title {
  position: relative;
  font-size:5vw;
  line-height:8vw;
  color: #F6F0E7;
  font-weight: bold;
}

.sub {
  position: relative;
  color: #F6F0E7;
  font-weight: bold;
  width:100%;
}

.sub2, .sub3, .sub4 {
  color: #F6F0E7;
  margin-top:0.5vw;
  width:80%;
  position:absolute;
  line-height:1.4;
}
 
.column1 {
  float:left;
  width:70%;
  position: relative;
}

.column2 {
  float:right;
  width:30%;
  position: relative;
  text-align:right;
}

.bannerimg {
  width: 115%;
  position: absolute;
  top: 0vw;
  right:0.1em;
}

.MasterCTA {
  position:absolute;
  right:46%;
  background: white;
  border:2px solid black;
  padding:1.5vw;
  padding-right:4vw;
  padding-left:4vw;
  border-radius: 20px;
  font-size: max(10px, 1vw);
  z-index:10;
  top: 25vw;
  cursor:pointer;
  color:black;
}

.MasterCTA:hover {
  background:#737373;
  color: white;
}

.CTA {
  float:left;
  position:relative;
  width:100%;
}

.fixer {
  float:left;
  position:relative;
  display:block;
  top: -40vw;
}

.abtnic {
  font-size:max(13px, 1.5vw);
}

.container2 {
  float:left;
  width: 100%;
}

.summarytext {
  margin-left: 10%;
  margin-right: 10%;
  color:black;
  margin-top:5%;
  margin-bottom:5%;
}

.container3 {
  float:left;
  display:flex;
  background: #3B9444;
  width:100%;
  flex-wrap:wrap;
  padding-bottom:7vw;
}

.box1, .box2, .box3, .box4 {
  float:left;
  width:24%;
  text-align:center;
  margin-top: 2vw;
  background: white;
  position:relative;
  border-style: solid;
  border-color: black;
  border-width:0.3vw;
  display:block;
  min-height:15vw;
  max-height:15vw;
}

.box1, .box2, .box3 {
  margin-right:.2em;
}

.box1 {margin-left:1.5%;}

.community {
  position:relative;
  padding-left:5%;
  padding-right:5%;
  float:left;
  width:100%;
  
}

.grid {
  float:left;
  position:relative;
  width:100%;
  margin-left:8%;
  margin-right:7%;
}

.row2, .row3 {
  float:left;
  position:relative;
  width:100%;
}

.row2 {
  padding-bottom: 0.8vw;
}

.CTA1, .CTA2, .CTA3, .CTA4 {
  float:left;
  position:relative;
  width:50%;
  text-align:center;
}

.CTA1, .CTA2 {
  top:1vw;
}

.ctaimg {
  width:600px;
  object-fit:contain;
  max-width:99%;
}

.container4 {
  float:left;
  display:block;
  padding-bottom:7vw;
  width:100%;
}

#row4 {
  margin-bottom:0.8vw;
  padding-top: 1vw;
  color: black;
  width:100%;
  position:relative;
}

.chats {
  text-align: left;
  padding: 0.2vw;
  font-size:max(10px, 1.5vw);
}

.description {
  text-align: left;
  margin-top: 0;
/*  padding-bottom: 0vw; */
  font-size: 1vw;
  color: black;
  background: white;
  position: relative;
  top: 0;
  padding: 0.2vw;
}

.communityCTA {
  margin-left:10%;
  display:block;
  padding-top:2vw;
}

.communityTitle{
  border-style: solid;
  border-color:black;
  border-width: 0.3vw;
  border-radius:10px;
  display:inline;
  margin-right:1.2em;
  cursor: pointer;
  font-weight:bold;
  font-size: 2.5vw;
  padding: 0.3vw;
  background:#FCC31E;
  color:black;
}

.communityTitle:hover{
  color:white;
  background:#737373;
}

h2 {
  /* font-size: 2.5vw; */
  font-size: max(20px, 2.5vw);
  }

.ref {
  padding:1vw;
  padding-right:12vw;
}

.black {
  position: absolute;
  width:100%;
  bottom:0;
}

.updates, .blogpost {
  font-size: 1vw;
  text-align: left;
  color: white;
  background: black;
  padding-left: 0.2vw;
}

.updates {
  margin-top:1em;
  padding-top:0.5em;
  color: #FCC31E;
  
}

.blogpost {
  padding-bottom: 0.2em;
}

.summarytext2 {
  float:left;
  position:relative;
  padding-top:6vw;
  padding-bottom:3vw;
  margin-left:10%;
  width:100%;
}

.container5 {
  float:left;
  display: block;
  position:relative;
  width:100%;
}

h3 {
color:black;
background:#f5f5f5;
padding-left:12%;
font-size: max(20px, 2vw);
padding-top:3vw;
}

.container5{
  float:left;
  display:block;
  width:100%;
  top:0;
  text-align:center;
  background:#3B9444;
  color:white;
  padding:2vw;
}

.credits {
padding:1vw;
padding-top:8vw;
}

.sub3{display:none;}

.sub4{display:none;}

@media screen and (max-width:1250px){
  .hamburger{padding-top:0.2vw;}
}

@media screen and (max-width:1150px){
  .hamburger{padding-top: 0.1vw;}
}

@media screen and (max-width:896px){
.sub2{width:90%}

.h1nav{padding-top:0.1em;}

header{padding-top:.5vw;}

}

@media screen and (max-width:798px){
.sub2{display:none;}

.sub3{
  display:inline; 
  width:93%;}

.MasterCTA {
  top:26vw;
}
}

@media screen and (max-width:665px){
.sub2{display:none;}

.sub3{display:none;}

.sub4{
  display:inline;
  width:93%;}
  
.MasterCTA {
  right:38%;
  top:26vw;
}
}

@media screen and (max-width:506px){

header {padding-top:1vw;}

.MasterCTA {
  right:5%;
  top:36vw;
}

body{font-size: max(11px, 1.2vw);}


.slide1, .slide2, .slide3, .slide4, .slide5, .slide6 {
  padding-bottom:30vw;
  padding-top:5vw;
}

.column1{
  width:100%;
  top:0vw;
}

.column2{
  width:100%;
  float:none;
  top:17vw;
}

.bannerimg{
  width:35%;
  margin-top:3vw;
  left:33%;
}

.title{
  text-align:center;
  z-index:10;
  border-radius:10px;
  left:25%;
  width:50%;
  line-height:1;
}

.sub{
  margin-top:1vw;
  text-align:center;
  display:none;
}

.sub4{
  margin-top: 1.5vw;
  left:0;
  right:0;
  text-align:center;
  width:100%;
  font-size:12px;
}

.space{
  margin-top:1.5rem;
  text-align:right;
  font-weight:bold;
  font-size: 9px;
  margin-right:8vw;
}

.container2{
  margin-top:8vw;
}
}
